@charset "UTF-8";

/* 여기서 부터 재 정의*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1{
	text-align:center;
	color: #626262;
	padding-top: 100px;
}

.likelist_qt-wrapper{
	
	margin: 100px 224px 150px 224px;
	position:relative;
}

.countbox{
	
	padding:30px 0;
	width: 100%;
	margin-bottom:30px; 
	 	
}

.countbox span{
	float:right;
	padding:0 30px 0 0;
	font-size: 25px;	
}


.likediv{
	margin: 0 auto;
}

.likelist_qt-card{
	
	
	display:inline-block;
    vertical-align: top;
    width: 302px;
    height: 302px;
    position: relative;
   	margin:0 25px 80px;
	border: 1px solid #EEEEEE;
	border-radius: 10px;
	background:#fff;
	overflow: hidden;
	
}


.likelist_qt-card img{
	width: 100%;
	transition: all 0.3s ease;
	height: 100%;
}

.likelist_qt-card:hover img{
	transform: scale(1.1);
}

.likelist_qt-content{
	position:absolute;
	width: 300px;
	bottom:-70%;
	background: #fff;
	padding: 10px 20px 22px 20px;
	box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
	transition: all 0.3s ease;
}

.likelist_qt-card:hover .likelist_qt-content{
	bottom:0;
}

.likelist_qt-button{
	display: flex;
	justify-content: space-between;
}
.likelist_qt-detail span{
	font-size: 22px;
	font-weight: 500;
}
.likelist_qt-detail p{
	color: #333;
	font-size: 17px;
	font-weight: 400;
}

.likelist_qt-button{
	margin-top: 20px;
}

.likelist_qt-button button{
	width: 100px;
	outline: none;
	padding: 10px 0;
	font-size:17px;
	font-weight: 500;
	border-radius: 5px;
	border: 2px solid #EF6C00;
	cursor: pointer;
	transition: all 0.3s ease;
}

.likelist_qt-button button:first-child{
	color: #EF6C00;
	background: #fff;
	margin-right: 10px;
}
button:first-child:hover{
	color: #fff;
	background: #EF6C00;
}
.likelist_qt-button button:last-child{
	color: #fff;
	background: #EF6C00;
	margin-left:10px;
}
button:last-child:hover{
	color: #EF6C00;
	background: #fff;
}





