@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.joinContainer{
	display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
	border-bottom: 1px solid #626262;
}

.title{
	width:800px;
	margin-top:10%;
	text-align:center;
}

.regform{
	background-color:#FFF;
	width:800px;
}
span{
    height: 60px;
    font-weight: 500;
	font-size: 18px;
 	padding:25px 100px 25px 50px; 	
}
.joinbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
 	padding-top:40px;
 	margin-left:30px;	 	
 }
 
 .joinBoxCss{
    align-items: center;
 width: 260px;
 height: 50px;
 border: 1px solid #626262;
 font-size: 18px;
 margin-right: 25px;
 margin-top: 20px;
 }
 .seloselo{
     display: flex;
     flex-direction: column;
 }
 

.buttons{	
	margin:25px 5px;
	background:#EF6C00;
	color:white;
	font-weight: 600;
	border-radius:5px;
	padding:15px 33px;
	border:none;
	cursor:pointer;
	float: right;
}
.buttons:hover{
	border: 1px solid #EFC600;
	color: #EFC600;
	background:#fff;
}