@charset "UTF-8";
@charset "UTF-8";
h1{
	text-align: center;
	padding-top: 100px;
	margin-bottom: 100px;
}
h1 a{
	text-decoration: none;
	color: #616161;
	cursor: pointer;	
}
h1 a:hover{
	color: #F57C00;
}

/* 0915 댓글리스트 */
.BtnforCss2{
	padding: 4px 8px;
	color: #fff;
	border-radius: 4px;
	border: none;
	background: #F57C00;
	cursor: pointer;
}
.qt-table2{
	border:0.3px solid #c0c0c0;
	margin: 25px auto;
	font-size: 0.9em;
	width: 80%;
	margin-bottom: 70px;
}

.qt-table2 tr{
	background-color: #FFE082;
	color: #424242;
	/* width: 80%; */
	padding: 10px 5px 10px 30px;
/* 	text-align: center; */
	font-weight: bold;
}

.qt-table2 th,
.qt-table2 td{
	padding: 15px 5px;
}
td.rp_content{
	text-align: left;
	padding-left: 30px;
	height: 40px;
}

.qt-table2 th a{
	text-decoration: none;
	color: #424242;
	font-size: 16px;
}
th.reply_250{
	width: 20%;
}

.qt-table2 tr{
	border-bottom: 1px solid #dddddd;
}
.qt-table2 tr:nth-of-type(even){
	background-color: #f3f3f3;
}
.qt-table2 tr:nth-of-type(odd){
	background-color:#f3f3f3;
}

.qt-table2 tr.rp_reply{
	background-color: #FFE082;
}
/* 0915댓글리스트  수정(qna_cont)*/



/* 댓글글쓰기, 댓글수정 */
div.reply_button{
	margin: 10px auto;
	margin-bottom: 100px;
	width:1150px;
}
p.rp_image{
	margin: 5px auto;
	margin-bottom: 10px;
	width:1150px;
}
span.rp_write{
/* 	vertical-align: middle;  */
/* 	text-align:center; */
	color: gray;
	font-size: 30px;
	
}
div.rp_list{
	width:80%;
	margin:5px auto;
	margin-bottom: 10px;
	/* text-align: center; */
}
span.rp_write2{
	color: gray;
	font-size: 30px;	
}
span.reply_left{
	float:left;
	text-align: left;
	padding-left: 20px;
	/* border-bottom: 1px solid gray; */
}

table.qt-table3{
	border:1px solid gray;
	border-radius:13px;
	margin: 25px auto;
	font-size: 0.9em;
	min-width: 1200px;
	height:180px;
	margin-bottom: 10px;
}
.BtnforCss{
	padding: 10px 20px;
	color: #fff;
	border-radius: 10px;
	border: none;
	background: #F57C00;
	cursor: pointer;
	margin-right: 10px; 
	float:right;
}
textarea#rp_content{
	width: 1000px;
	height: 110px;
	border-radius:5px; 
}

.qt-table3 tr{
	background-color: #FFE082;
	color: #424242;
	width: 80%;
	padding: 5px 20px 5px 20px;
	text-align: center;
	font-weight: bold;
	
}

.qt-table3 th,
.qt-table3 td{
	padding: 15px 20px;
}

.qt-table3 th a{
	text-decoration: none;
	color: #424242;
	font-size: 16px;
}

.qt-table3 tr:nth-of-type(odd){
	background-color: #eceef0;
}

tr{
	border-bottom: 2px solid #FFE082;
}



/* 기존 QnA_qt에 잇던 css */

.qt-table{
	margin: 25px auto;
	font-size: 0.9em;
	min-width: 80%;
	margin-bottom: 70px;
}

.qt-table tr{
	background-color: #FFE082;
	color: #424242;
	width: 80%;
	padding: 5px 20px 5px 20px;
	text-align: center;
	font-weight: bold;
	
}

.qt-table th,
.qt-table td{
	padding: 15px 20px;
}

.qt-table th a{
	text-decoration: none;
	color: #424242;
	font-size: 16px;
}

.qt-table tr{
	border-bottom: 1px solid #dddddd;
}
.qt-table tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.qt-table tr:last-of-type{
	border-bottom: 2px solid #FFE082;
}

