<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
   <typeAliases>
     
     <typeAlias type="net.daum.vo.Enter_nrVO" alias="nr" /><!-- Enter_nrVO 빈클래스 객체 별칭명 nr설정 -->

     <typeAlias type="net.daum.vo.EventVO" alias="e" />     

     <typeAlias type="net.daum.vo.User_InfoVO" alias="ui"/>

         <typeAlias type="net.daum.vo.NoticeVO" alias="n" />

      <typeAlias type="net.daum.vo.QnAVO" alias="qna" />
      
      <typeAlias type="net.daum.vo.ComunityVO" alias="cp" />

   </typeAliases>
</configuration>